/* SERVICES */
.services-title {
  margin-bottom: 50px;
  text-align: center;
}
.services-list {
  display: flex;
}
.services-list-item {
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}
